<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/">
            <img class="logo" src="assets/kreativestormLogo.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a routerLink="{{ routeUrl }}">
            <i class="material-icons">
                {{ icon }}
            </i>
            {{ title }}
        </a>
    </span>
    <span class="spacer"></span>
    <button mat-button color="warn" (click)="logout()" class="logout-button">Logout</button> <!-- Botão de logout -->
</mat-toolbar>