.header {
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.header .logo{
    max-height: 32px;
}

.header .title-group{
    padding-left: 25px;
}

.header .title-group i{
    padding-right: 5px;
}


.logout-button {
    margin-left: auto; /* Empurra o botão para o canto direito */
    color: #fff; /* Cor do texto do botão */
    background-color: #f44336; /* Cor de fundo do botão */
    margin-right: 16px; /* Espaçamento à direita do botão (opcional) */
}