<mat-card>
    <mat-card-title>New Role</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Role Name" [(ngModel)]="role.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Position" [(ngModel)]="role.position" name="benefits">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Benefits" [(ngModel)]="role.benefits" name="benefits">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createRole()" color="primary">
        Save
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancel
    </button>
</mat-card>