<mat-card>
    <mat-card-title>New Employee</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="employee.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Surname" [(ngModel)]="employee.surname" name="surname">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Salary ($)" [(ngModel)]="employee.salary" name="salary"> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Gender" [(ngModel)]="employee.gender" name="gender"> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Address" [(ngModel)]="employee.address" name="address"> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="employee.email" name="email"> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Phone Number" [(ngModel)]="employee.phoneNumber" name="phoneNumber"> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nationality" [(ngModel)]="employee.nationality" name="nationality"> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Date of Birth" [(ngModel)]="employee.dateOfBirth" name="dateOfBirth"> 
        </mat-form-field>
        <mat-form-field>
            <!-- <input matInput placeholder="Role" [(ngModel)]="employee.roleId" name="roleId"> -->
            <mat-label>Select Role</mat-label>
            <select matNativeControl [(ngModel)]="employee.roleId" name="roleId">
                <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <!-- <input matInput placeholder="Role" [(ngModel)]="employee.roleId" name="roleId"> -->
            <mat-label>Select Department</mat-label>
            <select matNativeControl [(ngModel)]="employee.departmentId" name="departmentId">
                <option *ngFor="let department of departments" [value]="department.id">{{ department.departmentName }}</option>
            </select>
        </mat-form-field>
        <!-- <mat-form-field>
            <input matInput placeholder="Department" [(ngModel)]="employee.departmentId" name="departmentId"> 
        </mat-form-field> -->
    </form>
    <button mat-raised-button (click)="createEmployee()" color="primary">
        Save
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancel
    </button>
</mat-card>