<mat-card>
    <mat-card-title>New Employee</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
             [(ngModel)]="employee.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Price (R$)" 
            [(ngModel)]="employee.price" name="price"> 
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createEmployee()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

