<mat-card>
    <mat-card-title>Delete Contracts</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Employee Id" [(ngModel)]="contract.employeeId" name="employeeId" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Type of Contract" [(ngModel)]="contract.typeContract" name="typeContract" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Salary Amount Month" [(ngModel)]="contract.salary.salaryAmountMonth" name="salaryAmountMonth" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Salary Amount Year" [(ngModel)]="contract.salary.salaryAmountYear" name="salaryAmountYear" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Salary Date" [(ngModel)]="contract.salary.salaryDate" name="salaryDate" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Hours Amount Month" [(ngModel)]="contract.hoursAmountMonth" name="hoursAmountMonth" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Start date Contract" [(ngModel)]="contract.startDateContract" name="startDateContract" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="End date Contract" [(ngModel)]="contract.endDateContract" name="endDateContract" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="delete()" color="warn">
        Delete
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancel
    </button>
</mat-card>