
<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened 
    fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Home
            </a>
            <a mat-list-item routerLink="/employees">
                <i class="material-icons">
                    person_add_alt_1
                </i>
                Employees
            </a>
            <a mat-list-item routerLink="/departments">
                <i class="material-icons">
                    person_add_alt_1
                </i>
                Departments
            </a>
            <a mat-list-item routerLink="/roles">
                <i class="material-icons">
                    person_add_alt_1
                </i>
                Roles
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>